<div class="span8 offset2">
  <h1>{{user.name}}</h1>
  <p>Here are the posts made by {{firstname}}.</p>
  <div class="btn-group">
	<button class="btn btn-primary {{topPostsButtonActive}}" id="top" ng-click = "userposts = top_posts">Top Rated</button>      
	<button class="btn btn-primary {{curPostsButtonActive}}" id="cur" ng-click = "userposts = current_posts">Most Recent</button>  
  </div>
</div>

<div></div>
<!-- Posts --->
<div class="accordion span8 offset2" close-others="true">
   <div class="accordion-group" ng-repeat="post in userposts" ng-controller="PostViewCtrl">
      <div class="accordion-heading">
         <div class="accordion-toggle" ng-click="postCollapsed = !postCollapsed">
            <a>{{post.title}}</a>
            <div class="pull-right">
               <span class="badge badge-success">
                  12
                  <i class="fa fa-thumbs-up"></i>
               </span>
               <span class="badge badge-important">
                  3
                  <i class="fa fa-thumbs-down"></i>
               </span>
               <span class="badge badge-warning">
                  0
                  <i class="fa fa-warning"></i>
               </span>
            </div>
         </div>
      </div>
      <div class="accordion-heading" collapse="postCollapsed">
         <div class="accordion-inner">
            {{post.content}}
         </div>
      </div>
   </div>
</div>

<!-- Side panel with more user info --->
<div class="jumbotron pull-right span4 offset1">
  <h3>Achievements</h3>
  <p>Votes Info, number of total posts, comments, etc</p>	
  <br>
  <h3>Linkedin Profile Page</h3>
  <p><a href="{{user.linkedin_url}}" target="_blank">Check me out!</a></p>	
</div>
