body {
	/* For static fixed header */
	/*padding-top: 51px;*/
}

.supplementary {
	color: #888888;
	font-size: 10pt;
}

.supplementary a {
	color: inherit;
}

button.supplementary {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	display: inline;
}

button.supplementary:hover {
	text-decoration: underline;
}

.supplementary a:hover, .supplementary a:visited {
	color: inherit;
	text-decoration: underline;
}

#welcome-banner {
	background-color: #222222;
	padding: 60px 40px;
}

.navbar {
	margin: 0;
}

.navbar .navbar-inner {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.navbar-dynamic-top > .navbar-inner {
	padding: 0 20px;
}

.alert-listitem {
	border-radius: 0;
}

.label.post-tag {
	margin-right: 5px;
}

.badge.counter {
	min-width: 18px;
	text-align: center;
}

.badge.score-1 {
	background-color: #69972e;
}

.badge.score-0 {
	background-color: #d2e6b8;
}

.badge.score--1 {
	background-color: #bd4247;
}

.badge.badge-negative-hover,.badge.badge-positive-hover {
	-webkit-transition: .3s linear all;
	-moz-transition: .3s linear all;
	transition: .3s linear all;
	background: none;
	color: #777777;
	text-shadow: none;
}

.badge.badge-negative-hover:hover,.badge.badge-positive-hover:hover {
	color: white;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.badge.badge-negative-hover:hover {
	background-color: #69972e;
}

.badge.badge-positive-hover:hover {
	background-color: #bd4247;
}

.comments-inner {
	display: block;
	background-color: #dddddd;
	border-radius: 5px;
	padding: 10px;
	max-width: 600px;
}

.comments-inner textarea {
	width: 450px;
	margin: 10px;
}

.comment-inner {
	margin-left: 10px;
	margin-bottom: 10px;
}

.comment-content {
	margin-left: 5px;
	display: inline-block;
}

.comment-content > .date {
	font-size: 8pt;
}

img.profile-pic-comment {
	vertical-align: top;
	border-radius: 3px;
	width: 45px;
	height: 45px;
}

.modal-body {
	overflow: visible;
}
