body {
	/* For static fixed header */
	/*padding-top: 51px;*/
}

.supplementary {
	color: #999999;
	font-size: 10pt;
}

.supplementary a {
	color: inherit;
}

.supplementary a:hover, .supplementary a:visited {
	color: inherit;
	text-decoration: underline;
}

#welcome-banner {
	background-color: #222222;
	padding: 60px 40px;
}

.navbar {
	margin: 0;
}

.navbar .navbar-inner {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.navbar-dynamic-top > .navbar-inner {
	padding: 0 20px;
}

.alert-listitem {
	border-radius: 0;
}

.animated-list {
	-webkit-transition: .3s linear all;
	-moz-transition: .3s linear all;
	transition: .3s linear all;
}

.animated-list.ng-leave {
	opacity: 1;
}

.animated-list.ng-leave.ng-leave-active {
	opacity: 0;
}
