!!! 5
%html(ng-app="saasfinal")
	%head
		%title Saasfinal
		%link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css")
		%link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		= stylesheet_link_tag "application", media: "all"
		%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js")
		%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js")
		%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.js")
		%script(type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body(ng-controller="ApplicationCtrl")
		.navbar.navbar-inverse
			.navbar-inner
				.container
					%a.brand(href="/#/") Wisdom CS
					%button.btn.btn-success.pull-right#logIn(ng-if="!Session.loggedIn" ng-click="Session.logIn()")
						%i.fa.fa-user
						Log In
					%button.btn.btn-danger.pull-right#logOut(ng-if="Session.loggedIn" ng-click="Session.logOut()")
						%i.fa.fa-key
						Log Out

		%div(ng-repeat="message in warnings")
			.alert.alert-warning {{message}}

		%div(ng-if="!loggedIn" collapse="welcomeBannerDismissed")
			#welcome-banner
				%a.pull-right(ng-click="closeWelcomeBanner()") (Close)
				%h1 Welcome!
				%p Log in with your LinkedIn account to get started.
				%button.btn.btn-large.btn-success.pull-right(ng-click="logIn()")
					%i.fa.fa-linkedin
					| Connect with LinkedIn

		= yield
